<ul class="nav flex-column mt-4">
    <li class="nav-item px-3">
        <NavLink class="nav-link text-primary" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home m-2" aria-hidden="true"></span> Home
        </NavLink>
    </li>
</ul>
<div>
    <ul class="nav flex-column">
         <li class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="songs">
                <span class="oi oi-musical-note m-2" aria-hidden="true"></span> Favourite Songs
            </NavLink>
        </li>           
        <li class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="settings">
                <span class="oi oi-globe m-2" aria-hidden="true"></span>Language
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link text-primary" href="about">
                <span class="oi oi-info m-2" aria-hidden="true"></span> About
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link text-danger" @onclick="Exit" href="">
                <span class="oi oi-power-standby text-danger m-2" aria-hidden="true"></span> Exit
            </NavLink>
        </li>
    </ul>
</div>
<style>
    .nav-item{
        font-size:medium;
        margin-bottom:0.2em;
        font-family:inherit;
        font-weight:500;    
        background-color:transparent;
        border-radius:8px;
    }
</style>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    async void Exit()
    {
        var accept = await Application.Current.MainPage.DisplayAlert("Exit","Close the application?",accept:"Yes",cancel:"No");
        if(!accept)
        {
            return;
        }
        Application.Current.Quit();
    }
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
   
}

